# Handling Missing Data

Pandas treats ``None`` and ``NaN``as null values 

- ``isnull()``: Generate a boolean mask indicating missing values
- ``notnull()``: Opposite of ``isnull()``
- ``dropna()``: Return a filtered version of the data
- ``fillna()``: Return a copy of the data with missing values filled or imputed

## 1. Detecting null values
Pandas data structures have two useful methods for detecting null data: ``isnull()`` and ``notnull()``.

In [2]:
import numpy as np
import pandas as pd

In [4]:
data = pd.Series([1, 'a', np.nan, 'hello', None])
data

0        1
1        a
2      NaN
3    hello
4     None
dtype: object

In [5]:
data.isnull()

0    False
1    False
2     True
3    False
4     True
dtype: bool

In [6]:
data.notnull()

0     True
1     True
2    False
3     True
4    False
dtype: bool

## 2. Dropping null values

In [13]:
df = pd.DataFrame([[1,      np.nan, np.nan],
                   [np.nan,      3,      5],
                   [np.nan, 4,      6]])
df

     0    1    2
0  1.0  NaN  NaN
1  NaN  3.0  5.0
2  NaN  4.0  6.0

In [15]:
df.isnull()

       0      1      2
0  False   True   True
1   True  False  False
2   True  False  False

In [14]:
 # to check the sum of all null values 
df.isnull().sum()

0    2
1    1
2    1
dtype: int64

In [16]:
# to check for % of null values in each feature 
round(((df.isnull().sum()/len(df.index))*100), 2 )

0    66.67
1    33.33
2    33.33
dtype: float64

We cannot drop single values from a ``DataFrame``; we can only drop full rows or full columns.

In [17]:
df.dropna()

Empty DataFrame
Columns: [0, 1, 2]
Index: []

 ``axis=1`` drops all columns containing a null value:

In [ ]:
df.dropna(axis='columns')

## 3. Filling null values
The ``fillna()`` method returns a copy of the array with the null values replaced.

Consider the following ``Series``:

In [18]:
info = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))

info

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

In [19]:
info.fillna(4)

a    1.0
b    4.0
c    2.0
d    4.0
e    3.0
dtype: float64

In [20]:
# forward-fill in series
print(data)
data.fillna(method='ffill')

0        1
1        a
2      NaN
3    hello
4     None
dtype: object

0        1
1        a
2        a
3    hello
4    hello
dtype: object

In [21]:
# back-fill in series

data.fillna(method='bfill')

0        1
1        a
2    hello
3    hello
4     None
dtype: object

In [22]:
# fill by ststistical value

df

     0    1    2
0  1.0  NaN  NaN
1  NaN  3.0  5.0
2  NaN  4.0  6.0

In [23]:
df.fillna(df.mean())

     0    1    2
0  1.0  3.5  5.5
1  1.0  3.0  5.0
2  1.0  4.0  6.0

In [25]:
# forward-fill in dataframe

df.fillna(method='bfill', axis=1)

     0    1    2
0  1.0  NaN  NaN
1  3.0  3.0  5.0
2  4.0  4.0  6.0